/* 公共样式 */

body {
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

// 行标题样式
.row-title {
  height: 0.7rem;
  line-height: 0.7rem;
  text-align: center;
  background: #ececec;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
